/*RESETTING PREFERENCES*/

*{
font-family: Arial, Helvetica, sans-serif;
color:seashell;
}

body{
    background-color: black;
}

p{
    font-size:16px;
    opacity:0.9;
}

h2{
    font-size:24px;
    opacity:0.9;
}

h3{
    font-size:18.72px;
    opacity:0.9;
}

h4{
    font-size:16px;  
    opacity:0.9;
}

h5{
    font-size:13.28px;
    opacity:0.9;
}

/*HEADER*/

.header{
    display:flex;
    justify-content: space-between;
    text-decoration: underline;
    border-bottom: 1px solid seashell;
    height:69px;
}

.logo{
    height:50px;
    width:auto;
    margin:10px;
}

.header-text{
    display:flex;
justify-content: space-around;
}

.heading{
    margin:15px 50px;
    font-size: 16px;
}

/*BANNER*/

.banner{
    position:relative;
    height: 700px;
    width:1200px;
    margin: 0 auto; 
    overflow: hidden;
    margin-bottom: 50px;
    text-align: center;
}

.banner-text{
    position: absolute;
    top:50%;
    width:100%;
    background-color:black;
    justify-content: center;
}

/*TEA OF THE MONTH*/

.tea-of-month{
    width:1000px;
    margin:0 auto;
    text-align: center;
}

.tea-of-month-images-container{
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.tea-img{
    height:200px;
    width:300px;
    margin:0 10px;
}

/*LOCATIONS*/

.locations-section{
    position:relative;
    height: 500px;
    width:1200px;
    margin: 0 auto; 
    overflow: hidden;

}

.locations-img{
    width:1200px;
    height:700px;
}

.locations-text{
    display: flexbox;
    position: absolute;
    top:10%;
    left:10%;
    text-align: center;
}

.locations-addresses{
    display:flex;
    justify-content: space-around;
}

.location{
    background-color: black;
margin:20px;
width:300px;
height:auto;
line-height: 200%;
}

/*CONTACT SECTION*/

.contact-section{
    height:200px;
    line-height: 250%;
    margin:0px 20px;
    text-align: center;
}

/*FOOTER/COPYRIGHT SECTION*/

.footer{
    text-align: left;
}