*{
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    color:seashell;
    background-color: black;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color:seashell;
    background-color: black;
    text-align:center;
    font-size:24px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color:seashell;
    background-color: black;
    text-align:center;
    font-size:16px;  
}

.header{
    display:flex;
    justify-content: space-between;
    text-decoration: underline;
    border-bottom: 1px solid seashell;
    height:69px;
}

.logo{
    height:50px;
    width:auto;
    margin:10px;
}

.header-text{
    display:flex;
justify-content: space-around;
}

.heading{
    margin-right:10px;
}

.banner{
    position:relative;
    height: 700px;
    width:1200px;
    margin: 0 auto; 
    overflow: hidden;
    margin-bottom: 50px;;
}

.banner-text{
    position: absolute;
    top:50%;
    width:100%;
    background-color:rgba(black, black, black, 1);
    justify-content: center;
}

.tea-of-month{
    display:flexbox;
    width:1000px;
    margin:0 auto;
}

.tea-of-month-images-container{
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.tea-img{
    height:200px;
    width:300px;
    margin:10px;
}



